In [7]:
#Ans 1:

# "for" loop is used to iterate over a sequance and execute a block of code for each item in the sequence.

l = ["Good",12,25,"Do it",17]

for i in l:
    print(i)
    
#"While" loop is used to repeatedly execute a block of code when given condition is true 
print()
count = 0
while count<5:
    print(count)
    count = count + 1

Good
12
25
Do it
17

0
1
2
3
4

In [ ]:
#ANS 2

sum_num = 0
product_num=1
i=1

while i<=10:
    sum_num = sum_num + i
    product_num = product_num * i
    i =i+1
    
print("Sum od frist 10 natural number using while loop is ",sum_num)
print("product of first natural number using while loop is ",product_num)
   
sum_num =0
product_num = 1

for i in range(1,11):
    sum_num = sum_num+i
    product_num *=i
    
print("Sum od frist 10 natural number using for loop is ",sum_num)
print("product of first natural number using for loop is ",product_num)

In [1]:
#ANS 3:

#compute the electricity bill
unit = int(input("Enter a Unit of electricity consumed in a month.\n"))

if(unit<=100):
    print("Rs 4.5 per unit charge")
    print("Electricity bill is : ",4.5*unit)
elif(unit<=200 and unit>100):
    print("Rs 6 per unit charge")
    print("Electricity bill is : ",6*unit)
elif(unit<=300 and unit>200):
    print("Rs 10 per unit charge")
    print("Electricity bill is : ",10*unit)
else:
    print("Rs 20 per unit charge")
    print("Electricity bill is : ",20*unit)

Enter a Unit of electricity consumed in a month.
 10

Rs 4.5 per unit charge
Electricity bill is :  45.0

In [16]:
#ANS 4

#USING WHILE LOOP
no_divisable=[]
i = 1

while i<=100:
    cube = i**3
    if cube%4==0 or cube%5==0:
        no_divisable.append(cube)    
    
    i+=1
print(cube)
print("No divisable by 4 and 5 is \n\n",no_divisable)

#USING FOR LOOP
divisable_no = []

for i in range(1,101):
    cube = i ** 3
    if cube%4==0 or cube%5==0:
        divisable_no.append(cube)
        
print("\n\nDvisable by 4 and 5 number is : \n\n",divisable_no)

1000000
No divisable by 4 and 5 is

 [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]


Dvisable by 4 and 5 number is :

 [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [24]:
#ANS 5:

string = "I Want to become a data Scientist"
vowels = "AEIOUaeiou"
count = 0

for i in string:
    if i in vowels:
        count += 1
        
print(count)

12